doctype html
html
  head
    title About – Kmetija Zupančič
    link(rel="stylesheet", href="/static/css/style.css")
  body
    section.about
      .about-content
        h2 O kmetiji Zupančič 
        p
          | Kmetija se nahaja v jugo vshodni Sloveniji. 
          br
          br
          | Dobrodošli na Kmetiji Zupančič, ki se nahaja v slikoviti vzhodni Sloveniji, kjer narava ponuja svoje najlepše razglede. Naša kmetija je zavezana pridelavi najkakovostnejšega mleka, ki je plod skrbnega dela in ljubezni do naših krav.
          br
          br
          | Kmetija zupančič je držinska kmetija  katera ima večletno tradicijo. V zadnji in danasnji generaciji se je začela ukvarati pri pridelavi mleka in uvazanje v šole in vrce
          br
          br
          | Kvaliteta 
          br
          br
          | Naša kmetija prideluje mleko, ki nosi certifikat "Izbrana kakovost". To pomeni, da naše mleko izpolnjuje stroge standarde in merila glede sestave, okoljske trajnosti, dobrobiti živali, zdravstvenega varstva, načina krmljenja ter minimalne obdelave pri skladiščenju in transportu.

